@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#header-container{
    display: flex;
    flex-direction: column;
    padding:0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background: #ffdde1;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.container a{
    color: #000;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2em;
    width: 10%;
}

